@charset "utf-8";

@media(max-width: 1199px){
    /* .box_1 .wrap .main_mid .title h1{ letter-spacing: 30px;} */
    .box_1 .wrap .main_bottom .m_left{ 
        display: block;
    }
}

@media(max-width: 991px){
    
}


@media(max-width: 767px){
    body{ overflow: auto;}
    main .box{ height: auto;}
    main .box > div{ 
        position: static;
        width: 100%; height: auto;
        min-height: 1000px;
        transform: none;         
        opacity: 1;
        transition: none;
    }
}
